.main {
  background: #f8f8f8;
  width: 100vw;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

h2:before, h2:after {
  border-top: 3px solid #e4af9b;
  content: "";
  width: 30vw;
}

h2:before {
  margin-right: 2vw;
}

h2:after {
  margin-left: 2vw;
}

.what-site-message {
  font-size: 20px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 10px;
  margin: 0 15vw;
  padding: 30px 0;
}

.work-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0;
}

.work-image {
  width: 25vw;
  height: 25vh;
  border-radius: 10px;
  border: 2px solid #d4dfbb;
}

.work-title {
  color: #333333;
  width: 25vw;
  font-size: 100%;
}

.work-username {
  color: #333333;
}

.work-sub-info {
  color: #333333;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.like-star {
  width: 15px;
  height: 15px;
}

.theme-lists {
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.theme-img {
  background-color: #eeeeee;
  margin: 0 1vw;
  border-radius: 50%;
  width: 10vw;
  height: 10vh;
}

.theme-name {
  text-align: center;
  width: 100%;
}