.top-footer {
  background-color: #e4d5b0;
  width: 100vw;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-title {
  font-size: 20px;
  margin: 0;
}

.footer-main-title {
  color: #333333;
}