<%= render "shared/second_header" %>

<%= form_with model: @user, url: user_session_path, class:'registration-main', local: true do |f| %>

  <h2>ログイン</h2>

  

<% end %>

<%= render "shared/footer" %>